.border-red {
    border: 2px solid red !important;
}

.border-green {
    border: 2px solid green  !important;
}

.border-blue {
    border: 2px solid blue  !important;
}

/*-------------------------------*/
body {
    font-family: 'SFUIDisplay', Arial, sans-serif;
    box-sizing: border-box;
    font-size: 11px;
    margin: 0;
}

table {
    font-size: 1em;
}

.ui-draggable, .ui-droppable {
    background-position: top;
}

a {
    text-decoration: unset;
}

.overlay {
    visibility: hidden;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 29, 40, 0.9);
}

.btn {
    -webkit-box-shadow: 0px 0px 9px -3px rgba(255,0,0,1);
    -moz-box-shadow: 0px 0px 9px -3px rgba(255,0,0,1);
    box-shadow: 0px 0px 9px -3px rgba(255,0,0,1);

    background-color: red;
    padding: 7px 55px;
    border: 1px solid red;
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 30px;
}

#triangle{position: relative;}

#triangle::before{
    position: absolute;
    right: 0;
    bottom: 20px;
    display: block;
    width: 0;
    height: 0;
    border: 3px solid transparent;
    border-bottom: 6px solid white;
    content: "";
}

@font-face {
  font-family: 'SFUIDisplay-Bold';
  src:  url('fonts/SFUIDisplayBold/SFUIDisplay-Bold.eot') format('embedded-opentype'),
        url('fonts/SFUIDisplayBold/SFUIDisplay-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.border-red {
    border: red solid 1px !important;
}

.container {
    max-width: 1097px;
    margin: 0 auto;
    position: relative;
    display: block;
}

.container-middle {
    max-width: 800px;
}
.container-small {
    max-width: 385px;
}

.row {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.col {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.row > .s-between {
    justify-content: space-between;
}

.row > .j-self-end {
    margin-left: auto;
    justify-self: end;
}


/*<== menu*/
/* .menu {
    font-family: 'SFUIDisplay-Bold' !important;
} */

.menu--dark,
.menu--dark a {
    background-color: black;
    color: white !important;
}

.brand {
    height: 100%;
    background-color: red;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    padding: 15px !important;
    border-top: 3px solid black;
    font-size: 18px;
    font-family: 'SFUIDisplay-Bold';
    border-radius: 0 !important;
}

.logo--round {
    display: flex;
    align-items: center;
    color: white;
    padding: 7px 0;
    font-weight: bold;
}

.logo--round svg {
    width: 34px;
    height: 34px;
    margin-right: 25px;
}

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.list__item {
    margin: 0;
    padding: 20px 12px;
}

.list__item:not(.favicon) a {
    text-transform: uppercase;
    padding-bottom: 5px;
}


.list__item:not(.favicon) a:hover {
    border-bottom: 3px solid #ff0000;
}

.list__item:last-child {
    padding-right: 0;
}

/* .list__item:first-child {
    padding-left: 24px;
} */

.menu--light a {
    color: black;
}

.menu--dark a{
    color: white;
    background-color: #000000;
}

.phone a:hover {
    color: red;
}

.lang {
    margin: 0 45px;
}

.lang .list__item {
    padding: 20px 5px;
}

.burger label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    width: 95px;
    color: black;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
    padding: 0;
    cursor: pointer;
    border: none;
}

.visuallyHidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.hamburger {
    width: 20px;
    height: 20px;
    position: relative;
}

.hamburger .bar {
    padding: 0;
    width: 20px;
    height: 3px;
    background-color: red;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute; 
}

.bar--1 {
    top: 0;
}

.bar--2 {
    top: 9px;
    right: 0;
}

.bar--3 {
    bottom: 0;
}

.checkbox1:checked + label > .hamburger1 > .bar--1{
    transform: rotate(45deg);
    transform-origin: 5%;
    width: 27px;
}

.checkbox1:checked + label > .hamburger1 > .bar--2 {
    transform: unset;
    background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar--3 {
    transform-origin: 5%;
    transform: rotate(-45deg);
    width: 27px;
}

/*==> menu*/


/*<== banner ==>*/
.banner {
    text-align: center;
    background: black;
}

.banner img {
    width: 100%;
}

/*<== vacancii sheet ==>*/
.vacancy {
    text-transform: uppercase;
}

.vacancy__list > li {
    margin: 20px 0;
}

.vacancy__list .btn {
    padding: 10px 50px;
    margin-top: 15px;
}

.vacancy .btn__outer{
    align-self: center;
    margin-top: 70px;
}

ul#accordion.vacancy__list  li {
    font-size: 11px;
    line-height: 30px;
    font-weight: bold;
}

.vacancy__list .title {
    background: #fff;
    font-weight: bold;
    border: 1px solid #b3b3b3;
}
.description ul {
    padding-left: 0;
    list-style-type: none;
}

.description li {
    position: relative;
}

.description li:before {
    position: absolute;
    left: -20px;
    top: 11px;
    display: block;
    width: 7px;
    height: 7px;
    background-color: red;
    border-radius: 50%;
    content: "";
}

.vacancy .ui-accordion .ui-accordion-header {
    padding: 18px 33px;
}

.vacancy .ui-accordion .ui-accordion-content {
    padding: 23px 33px;
}

.ui-icon {
    width: 0 !important;
}

.title.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    color: black;
    background: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #b3b3b3;
    border-bottom-color: #d5d5d5;

}

.vacancy .ui-widget-content {
    border: 1px solid #b3b3b3;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}


/*<== subscribe ==>*/
.subscribe {
    padding: 40px 0;
    background-color: #f5f6f9;
    margin-top: 74px;
}

.subscribe .form {
    margin: 0 auto;
    align-items: stretch;
    justify-content: flex-end;
}

.subscribe input[type=text] {
    flex-grow: 1;
    border: 1px solid #b3b3b3;
    border-radius: 2px;
    padding: 7px 17px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;

}

.subscribe input[type=submit] {
    padding-left: 45px;
    padding-right: 45px;
    font-weight: 500;
    margin-left: 3px;
}

/*<== bottom--menu ==>*/
.bottom--menu {
    background-color: #f5f6f9;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
}

.bottom--menu .row {
    justify-content: space-between;
    align-items: flex-start;
}

.bottom--menu .list__item {
    padding: 0;
    font-size: 12px;
    line-height: 36px;
}

.bottom--menu .list__item:first-child a,
.bottom--menu .list__item:hover a {
    color: #000000;
}

.bottom--menu a {
    font-weight: 600;
    text-decoration: unset;
    color: #95989e;
    text-transform: uppercase;
}

.bottom--menu .list {
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}

.bottom--menu .list:last-child {
    margin-top: 37px;
}

.bottom--menu img {
    width: 70px;
}


/* ========= FOOTER   ========= */
.footer {
    padding: 25px 0;
    background-color: #f5f6f9;
    color: #95989e;
    font-size: 12px;
    font-weight: 200;
    line-height: 18px;

}

.footer p {
    margin: 0;
}